// Font Size
$font-lg: 40px;
$font-md: 30px;
$font-sm: 20px;
$font-page: 16px;

// EN Font Family

$arFontFamily: "Droid Arabic Kufi";

$cairoFont: "cairo";

// EN Font Family

$enFontFamily: "Tahoma, Arial";

// width

$mainWidth: 100%;

$mainHeight: 100%;

$mainHeightVh: 100vh;

// color
$white-color: #fff;
$second-color: #ffdd00;
$black-color: #000;
$text-color: #9c9c9c;

// direction

$dir-rtl: rtl;
$dir-ltr: ltr;
